.shed {
  background: url('/assets/images/shed.jpg') no-repeat;
  // background: url('/assets/images/shed-1.png') no-repeat;
  background-size: cover;

  .shed-gui-container {
    position: absolute;
    left: 0;
    top: 0;

    .btn {
      border-radius: 10px;
      background-color: #ebf5e5;
      border: none;
      font-family: 'Aquire';

      &:not(:disabled) {
        &:hover, &:focus, &:active, &.active {
          background-color: #fff02a;
        }
      }
    }

    .ship-rename-gui {
      position: relative;
      top: 16px;
      left: 13px;
      display: inline-block;
      width: 410px;

      .btn-rename {
        width: 94px;
        height: 32px;
        font-size: 1.2rem;
      }

      .input-rename {
        border: none;
        color: white;
        background: transparent;
        position: absolute;
        font-family: "Aquire";
        font-size: 1.5rem;
        margin-left: 25px;
        margin-top: 6px;
        width: 300px;
        outline: none;
      }
    }

    .ship-box-start {
      position: absolute;
      top: 15px;
      right: 35px;
      display: inline-flex;
      width: 267px;

      .difficulities-container {
        display: inline-block;
        width: 98px;

        .btn {
          margin-bottom: 4px;
          width: 95px;
          height: 22px;
          font-size: 1rem;
        }
      }

      .btn-play {
        height: 48px;
        width: 152px;
        margin-left: 7px;
        margin-top: 13px;
        font-size: 2rem;
      }
    }

    .ship-management-gui-container {
      position: absolute;
      top: 120px;
      left: 16px;

      .ships-label, .ships-layout {
        font-family: 'Aquire';
        margin-bottom: 10px;
      }

      .ships-list-control-container {
        display: flex;
        justify-content: center;
        margin-bottom: 7px;

        .btn-previous-ship, .btn-ship-list, .btn-next-ship {
          font-size: 1rem;
          height: 30px;
        }

        .btn-previous-ship, .btn-next-ship {
          width: 25px;
        }

        .btn-previous-ship {
          margin-right: 5px;
        }

        .btn-ship-list {
          width: 70px;
        }

        .btn-next-ship {
          margin-left: 5px;
        }
      }

      .btn-random-ship {
        width: 157px;
        height: 28px;
        font-size: .8rem;
        margin-bottom: 12px;
      }

      .ships-layout-control-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 14px;

        .btn-ship-layout {
          font-size: 1.25rem;
          height: 40px;
          width: 35px;
        }
      }

      .btn-hide-ship-rooms {
        height: 30px;
        width: 157px;
      }
    }

    .advanced-edition-gui-container {
      position: absolute;
      right: 53px;
      bottom: 277px;

      p {
        color: white;
        font-family: "CW Bitmap";
        margin-bottom: 9px;
        font-size: 18px;
        text-align: center;
      }

      .btn-disabled-advanced-edition {
        width: 109px;
        height: 22px;
        margin-right: 25px;
        font-size: 1rem;
      }

      .btn-enabled-advanced-edition {
        width: 103px;
        height: 22px;
        font-size: 1rem;
      }
    }

    .ships-crews-gui-container {
      position: absolute;
      left: 20px;
      bottom: 204px;

      .crews-label {
        font-family: 'Aquire';
        margin-bottom: 10px;
      }
    }

    .ships-weapons-gui-container {
      position: absolute;
      left: 390px;
      bottom: 204px;

      .weapons-label {
        font-family: 'Aquire';
        margin-bottom: 10px;
      }
    }

    .ships-drones-gui-container {
      position: absolute;
      left: 390px;
      bottom: 42px;

      .drones-label, .no-drone-control-label {
        font-family: 'Aquire';
      }

      .drones-label {
        margin-bottom: 32px;
      }

      .no-drone-control-label {
        color: white;
        font-size: 2rem;
        margin-left: 60px;
      }
    }

    .ships-upgrades-gui-container {
      position: absolute;
      right: 196px;
      bottom: 204px;

      .upgrades-label {
        font-family: 'Aquire';
        margin-bottom: 10px;
      }
    }
  }
}
