<div class="shed">
    <canvas id="shedCanvas"></canvas>

    <div class="shed-gui-container">
      <div class="ship-rename-gui">
        <button class="btn btn-rename">{{'commons.actions.rename' | translate}}</button>
        <input type="text" id="inputShipRename" class="input-rename" [(ngModel)]="selectedShip.name" maxlength="16">
      </div>

      <div class="ship-box-start">
        <div class="difficulities-container">
          <button class="btn">{{'commons.difficulties.easy' | translate}}</button>
          <button class="btn">{{'commons.difficulties.normal' | translate}}</button>
          <button class="btn">{{'commons.difficulties.hard' | translate}}</button>
        </div>

        <button class="btn btn-play">{{'commons.actions.play' | translate}}</button>
      </div>
    </div>

    <ul>
      <li *ngFor="let ship of ships">
        <button (click)="selectShip(ship)">{{ship.name}}</button>
      </li>
    </ul>
</div>
