.shed {
  background: url('/assets/images/shed.jpg') no-repeat;
  // background: url('/assets/images/shed-1.png') no-repeat;
  background-size: cover;

  .shed-gui-container {
    position: absolute;
    left: 0;
    top: 0;

    .btn {
      border-radius: 10px;
      background-color: #ebf5e5;
      border: none;
      font-family: 'Aquire';

      &:hover, &:focus, &:active, &.active {
        background-color: #fff02a;
      }
    }

    .ship-rename-gui {
      position: relative;
      top: 16px;
      left: 13px;
      display: inline-block;
      width: 410px;

      .btn-rename {
        width: 94px;
        height: 32px;
        font-size: 1.2rem;
      }

      .input-rename {
        border: none;
        color: white;
        background: transparent;
        position: absolute;
        font-family: "Aquire";
        font-size: 1.5rem;
        margin-left: 25px;
        margin-top: 6px;
        width: 300px;
        outline: none;
      }
    }

    .ship-box-start {
      position: absolute;
      top: 15px;
      right: 35px;
      display: inline-flex;
      width: 267px;

      .difficulities-container {
        display: inline-block;
        width: 98px;

        .btn {
          margin-bottom: 4px;
          width: 95px;
          height: 22px;
          font-size: 1rem;
        }
      }

      .btn-play {
        height: 48px;
        width: 152px;
        margin-left: 7px;
        margin-top: 13px;
        font-size: 2rem;
      }
    }

    .advanced-edition-gui-container {
      position: absolute;
      right: 53px;
      bottom: 277px;

      p {
        color: white;
        font-family: "CW Bitmap";
        margin-bottom: 9px;
        font-size: 18px;
        text-align: center;
      }

      .btn-disabled-advanced-edition {
        width: 109px;
        height: 22px;
        margin-right: 25px;
        font-size: 1rem;
      }

      .btn-enabled-advanced-edition {
        width: 103px;
        height: 22px;
        font-size: 1rem;
      }
    }
  }
}
