<div class="shed">
    <canvas id="shedCanvas"></canvas>

    <div class="shed-gui-container">
      <div class="ship-rename-gui">
        <button class="btn btn-rename" [ngClass]="{'active': renameShipEnabled}" (click)="openRenameShipInput()">{{'commons.actions.rename' | translate}}</button>
        <input type="text" id="inputShipRename" class="input-rename" [(ngModel)]="selectedShip.name" (keyup.enter)="closeRenameShipInput()" maxlength="16">
      </div>

      <div class="ship-box-start">
        <div class="difficulities-container">
          <button *ngFor="let difficulty of difficulties" class="btn" [ngClass]="{'active': difficulty.value == game.difficulty.value }" (click)="selectDifficulty(difficulty)">
            {{'commons.difficulties.' + difficulty.name | translate}}
          </button>
        </div>

        <button class="btn btn-play" [disabled]="!selectedShip.name" (click)="startGame()">{{'commons.actions.play' | translate}}</button>
      </div>

      <div class="ship-management-gui-container">
        <p class="ships-label">Vaisseaux</p>
        <div class="ships-list-control-container">
          <button class="btn btn-previous-ship" (click)="previousShip()"><</button>
          <button class="btn btn-ship-list" (click)="openShipsList()">Liste</button>
          <button class="btn btn-next-ship" (click)="nextShip()">></button>
        </div>
        <button class="btn btn-random-ship">Vaisseau aléatoire</button>

        <p class="ships-layout">Agencement</p>
        <div class="ships-layout-control-container">
          <button *ngFor="let shipLayout of ships[shipListIndex].layouts" class="btn btn-ship-layout" [ngClass]="{'active': shipLayout.layout == selectedShip.layout}" (click)="selectShip(shipLayout)">
            {{shipLayout.layout}}
          </button>
        </div>

        <button class="btn btn-hide-ship-rooms">Cacher salles</button>
      </div>

      <div class="advanced-edition-gui-container">
        <p>{{'commons.advancedEditionContent' | translate }}</p>
        <button class="btn btn-disabled-advanced-edition" [ngClass]="{'active': !game.advancedEditionEnabled}" (click)="toggleAdvancedEditionContentActivation()">
          {{'commons.actions.disabled' | translate}}
        </button>
        <button class="btn btn-enabled-advanced-edition" [ngClass]="{'active': game.advancedEditionEnabled}" (click)="toggleAdvancedEditionContentActivation()">
          {{'commons.actions.enabled' | translate}}
        </button>
      </div>
    </div>
</div>
