// Fonts
$aquireFont: 'Aquire';
$cwBitmapFont: 'CW Bitmap';

// Cursor
$defaultCursor: url('/assets/images/mouse/pointerInvalid.png'), auto;
$pointerCursor: url('/assets/images/mouse/pointerValid.png'), pointer;

// Colors
$white: #fff;
$black: #000;

$hover-effect: #ffe65e;