@import '/src/assets/styles/commons/variables';

.game {
  background: url('/assets/images/stars/z_bg_stars1.png') no-repeat;
  background-size: cover;
}

.ship-hull-scrap-shell-items-gui-container {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 380px;
  height: 50px;

  .hull-gui-container {
    .hull-label-gui-container {
      background: url('/assets/images/gui/status/top_hull_label.png') no-repeat;
      display: inline-block;
      height: 28px;
      width: 50px;

      p {
        color: white;
        font-family: 'Aquire';
        font-size: 1.5rem;
      }
    }

    .hull-progress-bar-container {
      background: url('/assets/images/gui/status/top_hull.png') no-repeat;
      position: absolute;
      top: 0;
      height: 65px;
      width: 385px;

      .hull-progress-bar {
        position: relative;
        left: 10px;
      }
    }

    // TODO manage hull domage
  }

  .shield-gui-container {
    background: url('/assets/images/gui/status/top_shields4_on.png') no-repeat;
    position: absolute;
    left: 5px;
    top: 44px;
    width: 132px;
    height: 52px;

    .shield-indicators-gui-container {
      display: inline-block;
      position: relative;
      top: 4px;
      left: 30px;
      width: 100px;
    }
  }

  .fuel-missiles-drones-gui-container {
    display: flex;
    position: absolute;
    top: 44px;
    left: 140px;

    .fuel-quantity-gui-container, .missiles-quantity-gui-container, .drone-parts-quantity-gui-container {
      height: 40px;
      width: 70px;

      p {
        color: white;
        display: inline-block;
        font-family: "Aquire";
        font-size: 1.2rem;
        position: relative;
        left: 34px;
        top: 12px;
        width: 34px;
        text-align: center;
      }
    }

    .fuel-quantity-gui-container {
      background: url('/assets/images/gui/status/top_fuel_on.png') no-repeat;

      &.fuel-low-quantity {
        background: url('/assets/images/gui/status/top_fuel_on_red.png') no-repeat;
      }
    }

    .missiles-quantity-gui-container {
      background: url('/assets/images/gui/status/top_missiles_on.png') no-repeat;

      &.missiles-low-quantity {
        background: url('/assets/images/gui/status/top_missiles_on_red.png') no-repeat;
      }
    }

    .drone-parts-quantity-gui-container {
      background: url('/assets/images/gui/status/top_drones_on.png') no-repeat;

      &.drone-parts-quantity {
        background: url('/assets/images/gui/status/top_drones_on_red.png') no-repeat;
      }
    }
  }

  .engine-oxygen-gui-container {
    background: url('/assets/images/gui/status/top_evade_oxygen.png') no-repeat;
    display: inline-block;
    position: absolute;
    top: 92px;
    left: 5px;
    width: 104px;
    height: 56px;

    p {
      color: white;
      position: relative;
      font-family: 'Aquire';
      font-size: 1rem;
      left: 38px;
      width: 52px;
      text-align: right;
    }

    .engine-level-content {
      top: 10px;
    }

    .oxygen-level-content {
      top: 18px;
    }
  }
}

.scrap-gui-container {
  background: url('/assets/images/gui/status/top_scrap.png')  no-repeat;
  position: absolute;
  left: 378px;
  top: 0;
  width: 135px;
  height: 55px;

  p {
    color: white;
    font-family: 'Aquire';
    font-size: 1.5rem;
    width: 88px;
    display: inline-block;
    position: relative;
    left: 38px;
    top: 18px;
    text-align: center;
  }
}

.ship-actions-gui-container {
  position: absolute;
  top: 10px;
  left: 550px;

  p {
    color: white;
    font-family: 'Aquire';
  }
}

.crews-gui-container {
  position: absolute;
  left: 5px;
  top: 165px;

  .crew-gui-content {
    position: relative;
    height: 24px;
    border: 2px solid grey;
    display: flex;
    padding: 2px 3px 0;
    margin-bottom: 4px;

    &:hover {
      border-color: #9deb23;
    }

    .crew-sprite {
      position: absolute;
      left: -2px;
      top: -4px;
      height: auto;
      width: 40px;
    }

    .crew-stats-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 30px;

      .crew-name {
        color: #c6c6c6;
        font-family: 'Aquire';
        font-size: 12px;
      }
  
      .crew-health-bar {
        background-color: greenyellow;
        height: 3px;
        width: 65px;
      }
    }
  }

  .btn-save-crew-affections, .btn-return-crew-affectations {
    background: url('/assets/images/gui/status/button_station_base.png') no-repeat;
    height: 44px;
    width: 44px;
  }

  .btn-save-crew-affections {
    span {
      background: url('/assets/images/gui/status/button_station_assign_on.png') no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      position: relative;
      left: 12px;
    }

    &:hover span {
      background: url('/assets/images/gui/status/button_station_assign_select2.png') no-repeat;
    }
  }

  .btn-return-crew-affectations {
    span {
      background: url('/assets/images/gui/status/button_station_return_on.png') no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      position: relative;
      left: 12px;
    }

    &:hover span {
      background: url('/assets/images/gui/status/button_station_return_select2.png') no-repeat;
    }
  }
}

.ship-systems-gui-container {
  position: absolute;
  top: 500px;
  left: 5px;
}

.ship-sub-systems-gui-container {
  background: url('/assets/images/gui/box_subsystems4.png') no-repeat;
  position: absolute;
  top: 660px;
  left: 1000px;
  height: 40px;
  width: 170px;

  .sub-systems-title {
    font-family: 'Aquire';
    top: 12px;
    position: relative;
    left: 10px;
    font-size: 1.25rem;
  }
}

.in-game-menu-container {
  background: url('/assets/images/gui/escape_main.png') no-repeat;
  color: white;
  position: relative;
  height: 259px;
  width: 162px;

  ul {
    padding: 17px 16px;

    li:first-child {
      margin-bottom: 25px;
    }

    li {
      margin-bottom: 11px;

      .btn {
        font-size: 1.2rem;
        height: 26px;
        width: 130px;
      }
    }
  }
}

.difficulty-container {
  background: url('/assets/images/gui/info_difficulty.png') no-repeat;
  color: white;
  position: relative;
  height: 72px;
  width: 145px;

  .difficulty-title, .difficulty-value {
    font-size: 1.25rem;
  }

  .difficulty-title {
    font-family: 'CW Bitmap';
    margin-top: 5px;
    text-align: center;
  }

  .difficulty-value {
    font-family: 'Aquire';
    color: black;
    margin-top: 8px;
    text-align: center;
  }
}

.retry-container {
  background: url('/assets/images/gui/confirm_window.png') no-repeat;
  height: 90px;
  width: 140px;

  p {
    color: white;
    font-family: 'CW Bitmap';
  }
}

.help-commands-container {
  background: url('/assets/images/gui/help_screen_overlay.png') no-repeat;
  position: relative;
  height: 615px;
  width: 1280px;
  text-align: center;

  h1 {
    color: black;
    font-family: $aquireFont;
    font-size: 1.5rem;
  }

  p {
    color: white;
    font-family: $cwBitmapFont;
  }

  .crews-commands-container {
    position: absolute;
    top: 5rem;
    left: 2.5rem;
    width: 23rem;

    h1 {
      margin-bottom: .75rem;
    }

    .subtitle {
      margin-bottom: 7.5rem;
    }

    .first-section {
      display: flex;
      justify-content: space-around;
      margin-bottom: 10rem;

      p {
        display: inline-block;
        width: 9rem;
      }
    }
  }

  .pause-commands-container {
    position: absolute;
    top: 1rem;
    left: 30.5rem;
    width: 19.5rem;

    h1 {
      margin-bottom: 10rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .power-commands-container {
    position: absolute;
    top: 22.25rem;
    left: 30.5rem;
    width: 20rem;

    h1 {
      margin-bottom: 1.5rem;
    }

    .first-section {
      margin-top: 7.25rem;
      display: flex;
      justify-content: space-around;

      p {
        display: inline-block;
        width: 8rem;
      }
    }
  }

  .weapons-drones-commands-container {
    position: absolute;
    top: 4.8rem;
    left: 54.5rem;
    width: 24rem;

    h1 {
      margin-bottom: 9.25rem;
    }

    .first-section {
      display: flex;
      margin-bottom: 8.25rem;

      p {
        display: inline-block;
        width: 8rem;
      }
    }

    .second-section {
      width: 23rem;
    }
  }
}
