<div class="game">
  <div id="canvsPixi"></div>
</div>

<app-modal [show]="showGameMenuModal" (closeCallback)="toggleGameMenuModal()">
  <div class="in-game-menu-container">
    <ul>
      <li><button class="btn" (click)="toggleGameMenuModal()">{{'commons.actions.continue' | translate}}</button></li>
      <li><button class="btn">{{'views.menu.title' | translate}}</button></li>
      <li><button class="btn">{{'views.shed.title' | translate}}</button></li>
      <li><button class="btn">{{'commons.actions.retry' | translate}}</button></li>
      <li><button class="btn">{{'commons.settings' | translate}}</button></li>
      <li><button class="btn">{{'commons.commands' | translate}}</button></li>
      <li><button class="btn btn-save-and-quit">{{'commons.actions.saveAndQuit' | translate}}</button></li>
    </ul>
  </div>
</app-modal>
