<div class="game">
  <div id="canvsPixi"></div>

  <div class="ship-hull-scrap-shell-items-gui-container">
    <div class="hull-gui-container">
      <div class="hull-label-gui-container">
        <p>{{'hull' | translate}}</p>
      </div>
      <div class="hull-progress-bar-container">
        <img src="/assets/images/gui/status/top_hull_bar_mask.png" alt="" class="hull-progress-bar">
      </div>
    </div>

    <div class="scrap-gui-container">
      <p>30</p>
    </div>

    <div class="shield-gui-container">
      <div class="shield-indicators-gui-container">
        <img *ngFor="let shield of game.ship.shields" [src]="shield.getSpriteSrc()" alt="">
      </div>
      <div>
        <!-- // TODO progress bar shield reactivation indicator -->
      </div>
    </div>

    <div class="field-missile-drone-container">
      <div class="fiel-gui-container">16</div>
      <div class="misile-gui-container">8</div>
      <div class="drone-gui-container">2</div>
    </div>

    <div class="engine-oxygen-gui-container">
      <p class="engine-level-content">15%</p>
      <p class="oxygen-level-content">100%</p>
    </div>
  </div>

  <div class="ship-actions-gui-container">
    <p>{{'spl_generator' | translate}}</p>
    <button class="btn btn-jump">{{'jump' | translate}}</button>
    <button class="btn">SHIP</button>
    <button class="btn">Settings</button>
  </div>

  <div class="crews-gui-container">
    <div *ngFor="let crew of this.game.ship.crews" class="crew-gui-content">
      <img src="" alt="" class="crew-sprite">
      <div>
        <p class="crew-name">{{crew.getFirstName()}}</p>
        <div class="crew-health-bar"></div>
      </div>
    </div>

    <button class="btn btn-save-crew-affections">
      III
    </button>

    <button class="btn btn-return-crew-affectations">
      <>
    </button>
  </div>

  <div class="ship-systems-gui-container">
    // TODO ship systems gui
  </div>

  <div class="ship-sub-systems-gui-container">
    // TODO ship sub systems gui
  </div>
</div>

<app-modal [show]="showGameMenuModal" (closeCallback)="toggleGameMenuModal()">
  <div class="in-game-menu-container">
    <ul>
      <li><button class="btn" (click)="toggleGameMenuModal()">{{'commons.actions.continue' | translate}}</button></li>
      <li><button class="btn" (click)="navigateToMenu()">{{'views.menu.title' | translate}}</button></li>
      <li><button class="btn" (click)="navigateToShed()">{{'views.shed.title' | translate}}</button></li>
      <li><button class="btn" (click)="toggleRetryGameModal()">{{'commons.actions.retry' | translate}}</button></li>
      <li><button class="btn" (click)="toggleSettingsModal()">{{'commons.settings' | translate}}</button></li>
      <li><button class="btn" (click)="toggleHelpCommandsModal()">{{'commons.commands' | translate}}</button></li>
    </ul>
  </div>

  <div class="difficulty-container">
    <p class="difficulty-title">{{'commons.difficulty' | translate}}</p>
    <p *ngIf="game" class="difficulty-value">{{('commons.difficulties.' + game.difficulty.name) | translate}}</p>
  </div>
</app-modal>

<app-modal [show]="showRetryGameModal">
  <div class="retry-container">
    <p>Êtes-vous sûr ?</p>
    <p>Toute votre progression sera perdue.</p>

    <div class="choices-container">
      <button class="btn" (click)="onConfirmRetryGame()">{{'commons.actions.yes' | translate}}</button>
      <button class="btn" (click)="onCancelRetryGame()">{{'commons.actions.no' | translate}}</button>
    </div>
  </div>
</app-modal>

<app-settings-modal [showSettingsModal]="showSettingsModal" [toggleSettingsModal]="toggleSettingsModal"></app-settings-modal>

<app-modal [show]="showHelpCommandsModal" (closeCallback)="toggleHelpCommandsModal()">
  <div class="help-commands-container">
    <div class="crews-commands-container">
      <h1>{{'views.game.menu.helpCommands.crews.title' | translate}}</h1>
      <p class="subtitle">{{'views.game.menu.helpCommands.crews.giveOrders' | translate}}</p>

      <div class="first-section">
        <p>{{'views.game.menu.helpCommands.crews.leftClicOrDragToChooseCharacter' | translate}}</p>
        <p>{{'views.game.menu.helpCommands.crews.rightClickToMoveChosenCharacter' | translate}}</p>
      </div>
      
      <div class="second-section">
        <p>{{'views.game.menu.helpCommands.crews.charactersRepairSystemsOrFightInTheirCurrentRoom' | translate}}</p>
      </div>
    </div>

    <div class="pause-commands-container">
      <h1>{{'commons.actions.pause' | translate}}</h1>
      <p>{{'views.game.menu.helpCommands.pause.spaceBarToPause' | translate}}</p>
      <p>{{'views.game.menu.helpCommands.whilePausedYouCanActAndGiveOrders' | translate}}</p>
    </div>

    <div class="power-commands-container">
      <h1>{{'views.game.menu.helpCommands.power.title' | translate}}</h1>
      <p>{{'views.game.menu.helpCommands.power.increaseDecreaseSystemPower' | translate}}</p>

      <div class="first-section">
        <p>{{'views.game.menu.helpCommands.power.leftClicMorePower' | translate}}</p>
        <p>{{'views.game.menu.helpCommands.power.rightClickLessPower' | translate}}</p>
      </div>
    </div>

    <div class="weapons-drones-commands-container">
      <h1>{{'views.game.menu.helpCommands.weaponsDrones.title' | translate}}</h1>

      <div class="first-section">
        <p>{{'views.game.menu.helpCommands.weaponsDrones.leftClicLoadWeapon' | translate}}</p>
        <p>{{'views.game.menu.helpCommands.weaponsDrones.newLeftClicActivateWeapon' | translate}}</p>
        <p>{{'views.game.menu.helpCommands.weaponsDrones.leftClicOnEnemyShipToTargetIt' | translate}}</p>
      </div>
      
      <div class="second-section">
        <p>{{'views.game.menu.helpCommands.weaponsDrones.leftClicOrDragRearrangeWeaponsDrones' | translate}}</p>
        <p>{{'views.game.menu.helpCommands.weaponsDrones.ifSystemIsDamagedTheRightmostObjectIsCutFirst' | translate}}</p>
      </div>
    </div>
  </div>
</app-modal>
