<div class="menu">
    <div class="menu-panel">
        <div class="title">
            <h1>FTL</h1>
            <p class="h1-subtitle">Orion Edition</p>
        </div>

        <div class="menu-actions">
            <button [disabled]="!gameInProgress" (click)="continueGame()">{{'commons.actions.continue' | translate}}</button>
            <button (click)="newGame()">{{'commons.actions.newGame' | translate}}</button>
            <button data-modal="modal-options">{{'commons.actions.settings' | translate}}</button>
        </div>
    </div>
</div>

<div class="modal" id="modal-options">
  <div class="modal-bg modal-exit"></div>

  <div class="modal-container options-container">
    <h1>Options</h1>

    <div class="video-settings-container">
      <h2>Vidéo</h2>
      <ul class="video-settings-content">
        <li>Plein écran : <a (click)="toggleFullScren()">{{settings.fullScreenMode ? 'Oui' : 'Non'}}</a></li>
        <li>Arrière plan dynamique : Oui</li>
        <li>Mode daltonien : Non</li>
        <li data-modal="modal-languages"><a href="#">Changer de langue</a></li>
      </ul>
    </div>

    <div class="gameplay-settings-container">
      <h2>Gameplay</h2>
      <ul class="gameplay-settings-content">
        <li>Choix d'événement : Pas de retard</li>
        <li>Affiche traje. balises au curseur : Oui</li>
        <li>Fenêtres d'exploit : Oui</li>
      </ul>
    </div>

    <div class="audio-settings-container">
      <h2>Audio</h2>
      <ul class="audio-settings-content">
        <li>Volume <span>TODO</span></li>
        <li>Volume musique <span>TODO</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="modal" id="modal-languages">
  <div class="modal-bg modal-exit"></div>

  <div class="modal-container languages-container">
    <ul>
      <li><button class="btn" (click)="changeLanguage(languages[0])">English</button></li>
      <li><button class="btn" (click)="changeLanguage(languages[1])">Français</button></li>
      <li><button class="btn more-languages-soon" disabled>More languages soon...</button></li>
    </ul>
  </div>
</div>
