<div class="menu">
    <div class="menu-panel">
        <div class="title">
            <h1>FTL</h1>
            <p class="h1-subtitle">Orion Edition</p>
        </div>

        <div class="menu-actions">
            <button [disabled]="!gameInProgress" (click)="continueGame()">{{'commons.actions.continue' | translate}}</button>
            <button (click)="newGame()">{{'commons.actions.newGame' | translate}}</button>
            <button data-modal="modal-options">{{'commons.actions.settings' | translate}}</button>
        </div>
    </div>
</div>

<div class="modal" id="modal-options">
  <div class="modal-bg modal-exit"></div>

  <div class="modal-container options-container">
    <h1>{{'views.menu.options.title' | translate}}</h1>

    <div class="video-settings-container">
      <h2>{{'views.menu.options.video.sectiontitle' | translate}}</h2>
      <ul class="video-settings-content">
        <li>{{'views.menu.options.video.fullscreen' | translate}} : <a (click)="toggleFullScren()">{{'commons.actions.' + settings.fullScreenMode ? 'Yes' : 'no' | translate}}</a></li>
        <li>{{'views.menu.options.video.dynamicBackground' | translate}} : {{'commons.actions.yes' | translate}}</li>
        <li>{{'views.menu.options.video.colorblindMode' | translate}} : {{'commons.actions.no' | translate}}</li>
        <li data-modal="modal-languages"><a>{{'views.menu.options.video.changeLanguage' | translate}}</a></li>
      </ul>
    </div>

    <div class="gameplay-settings-container">
      <h2>{{'views.menu.options.gameplay.sectiontitle' | translate}}</h2>
      <ul class="gameplay-settings-content">
        <li>{{'views.menu.options.gameplay.chooseEvent' | translate}} : {{'views.menu.options.gameplay.noDelay' | translate}}</li>
        <li>{{'views.menu.options.gameplay.displayBeaconsTrajectoryOnCursor' | translate}} : {{'commons.actions.yes' | translate}}</li>
        <li>{{'views.menu.options.gameplay.featsWindow' | translate}} : {{'commons.actions.yes' | translate}}</li>
      </ul>
    </div>

    <div class="audio-settings-container">
      <h2>{{'views.menu.options.audio.sectiontitle' | translate}}</h2>
      <ul class="audio-settings-content">
        <li>
          <span>{{'views.menu.options.audio.volume' | translate}}</span>
          <div class="slidecontainer">
            <input type="range" min="0" max="100" value="50" class="slider" id="volumeSlider">
          </div>
        </li>
        <li>
          <span>{{'views.menu.options.audio.musicVolume' | translate}}</span>
          <div class="slidecontainer">
            <input type="range" min="0" max="100" value="100" class="slider" id="musicVolumeSlider">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal" id="modal-languages">
  <div class="modal-bg modal-exit"></div>

  <div class="modal-container languages-container">
    <ul>
      <li><button class="btn" (click)="changeLanguage(languages[0])">English</button></li>
      <li><button class="btn" (click)="changeLanguage(languages[1])">Français</button></li>
      <li><button class="btn more-languages-soon" disabled>More languages soon...</button></li>
    </ul>
  </div>
</div>
