.menu {
  background-image: url('/assets/images/menu.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .menu-panel {
    color: #fff;

    h1, .h1-subtitle, button {
      font-family: 'Aquire';
    }

    .title {
      margin-bottom: 5rem;
      text-align: center;

      h1 {
        font-size: 8rem;
        margin-bottom: 1rem;
      }

      .h1-subtitle {
        letter-spacing: 1rem;
      }
    }

    .menu-actions {
      display: grid;

      button {
        background: transparent;
        border: 0;
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 3px;
        margin-bottom: 2rem;
        text-shadow: 0 3px black;

        &:hover {
          color: #FFD625;
        }

        &.disabled, &:disabled {
          color: #CFC8C8;
        }
      }
    }
  }

  .menu-footer {
    display: flex;
    align-items: center;
    position: absolute;
    right: .5rem;
    bottom: 0;

    p {
      color: white;
      font-family: 'Aquire';
      margin-right: 1rem;
    }

    svg {
      fill: white;
    }
  }
}
