.settings-container {
    background: url('/assets/images/gui/box_options.png') no-repeat;
    color: white;
    position: relative;
    height: 450px;
    width: 826px;
  
    h1, h2 {
      color: black;
      font-family: "Aquire";
      position: absolute;
    }
  
    h1 {
      top: 14px;
      left: 58px;
      font-size: 1.8rem;
    }
  
    h2 {
      font-size: 1.1rem;
    }
  
    ul {
      font-family: 'CW Bitmap';
      padding-left: .75rem;
  
      li {
        margin-bottom: .75rem;
      }
    }
  
    a {
      color: white;
      text-decoration: none;
    }
  
    .video-settings-container, .gameplay-settings-container {
      position: absolute;
      top: 50px;
    }
  
    .video-settings-container {
      left: 24px;
  
      .video-settings-content {
        position: relative;
        top: 30px;
      }
    }
  
    .gameplay-settings-container {
      left: 430px;
  
      .gameplay-settings-content {
        position: relative;
        top: 30px;
      }
    }
  
    .audio-settings-container {
      position: absolute;
      left: 194px;
      top: 296px;
  
      .audio-settings-content {
        position: relative;
        top: 45px;
        width: 340px;
  
        li {
          display: flex;
          justify-content: space-between;
        }
      }
  
      .slidecontainer {
        width: 200px;
        display: inline-flex;
      }
  
      /* The slider itself */
      .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 15px; /* Specified height */
        border: 2px solid #ebf5e5;
        background: black; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
      }
  
      /* Mouse-over effects */
      .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
      }
  
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 15px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #ffffff;
        cursor: pointer; /* Cursor on hover */
      }
  
      .slider::-moz-range-thumb {
        width: 15px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #ffffff;
        cursor: pointer; /* Cursor on hover */
      }
    }
  }
  
  .languages-container {
    background: url('/assets/images/gui/box_languages.png') no-repeat;
    color: white;
    height: 450px;
    width: 260px;
  
    ul {
      padding: 11px 10.45px;
  
      li {
        margin-bottom: 7.3px;
  
        .btn {
          font-size: 1.2rem;
          height: 27px;
          width: 240px;
        }
  
        .more-languages-soon {
          font-size: 1rem;
        }
      }
    }
  }